<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% trans 'Django Apple Podcast' %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Online demo of the Django Apple Podcast app">
    {% block feed %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>